/* Put all your styling here */

body, html {
    background-color: rgb(30, 26, 37);
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#background {
    z-index: 1;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

#container {
    z-index: 2;
    margin-top: 45px;
    padding: 50px;
    padding-top: 0;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

#footer {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

pre {
    display: inline-block;
    background-color: rgba(26, 26, 26, 0.8);
    border: 2px solid rgba(66, 66, 66, 0.8);
    padding: 20px;
}

code {
    background-color: rgba(26, 26, 26, 0.8);
    border: 1px solid rgba(66, 66, 66, 0.8);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.9rem;
}

pre > code {
    background-color: transparent;
    border: 0px solid purple;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
}